:root {
 --badge-size: 30px;
 --node-border-radius: 10px;
}
.react-flow__node-card .card-node {
  border: 0;
  box-shadow: none;
  border-radius: var(--node-border-radius);
}

.react-flow__node-card .MuiBadge-badge {
  width: var(--badge-size);
  height: var(--badge-size);
  border-radius: 50%;
}

.react-flow__node-card .MuiCard-root:hover {
  box-shadow: 20px 40px 100px 5px  rgba(0,0,0, .2);

}
.card-node .MuiCardContent-root {
  padding-top: .3rem;
}

/* handle */
.react-flow__node-card .react-flow__handle {
  opacity: 0;
  background: #000;
  width: var(--handel-size);
  height: var(--handel-size);
}

/* card handle */
.react-flow__node-card:hover .react-flow__handle,
.react-flow__node-card.selected .react-flow__handle {
  opacity: 1;
}


/*  edge */
.react-flow__edge .react-flow__edge-path {
  stroke: #ccc;
  stroke-width: 2;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: #888 !important;
  stroke-width: 2.5 !important;
}

.react-flow__arrowhead > polyline {
  stroke: #aaa;
}